html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*my code*/
/*Header*/

* {
  text-decoration: none;
}

  @font-face {
  src: url(fonts/UnforgottenMore1.ttf);
  font-family: unf;
}
  @font-face {
  src: url(fonts/PatrickHand-Regular.ttf);
  font-family: patrick;
}
  @font-face {
  src: url()fonts/ComicNeue-Regular.ttf);
  font-family: comic;
}



body {
background-color: #f3f3f3;
}

Header {
  background-color: #fff;
  height: 63px;
  width: 100%;

}
.logomobile-pos {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 38px;
  b ackground-color: red;

}
.title-pos {
  display: inline-block;
  padding-top:11px;
  width: 130px;
  text-align: center;
  vertical-align: top;
  b ackground-color: blue;


}
  .phone-pos {
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  width: 70px;
  text-align: right;
  vertical-align: top;
  b ackground-color: green;


}

.Title {
  font-family: unf;
  font-size: 50px;
  color: #6F929E;
  font-weight: 160;
}

.phone {
   font-family: "patrick";
    color: #6F929E;
    font-weight: 160;
  }

}
 ul {
  }

 header nav ul {

 }

 header nav ul li {

 }


 header nav ul li a {


 }


/*.toggle {
  font-size: 20px;
  padding: 0px 3px 0px;
}*/



.toggle {
}


/*Section 1 Mustard*/
.sec1-banner {
}

.sec1-Text-pos {
  padding-top: 5px;
  text-align: center;
  b ackground-color: green;
  text-spacing: 1px;
}
.sec1-text {
  color:#48AB44;
  font-weight:600;
  font-size: 24px;
  font-family: comic;


}
.sec1-discover-pos {

  padding-top: 15px;
  b ackground:red;
  text-align: center;
  transition: 0.8s;
}
section .sec1-dis  {
  display: inline-block;
  width: 45%;
  height: 28px;
  text-align:top;
  padding-top:13px;
text-transform: uppercase;
letter-spacing: 1px;
font-size:14px;
}
section .sec1-dis {
  color:#f1f1f1;
  background:#48AB44;
  /*box-shadow: 0 0 10px #48E946,0 0 20px #48E946,0 0 30px #48E946;*/
  }



/*Section 2-3 Amaranth*/

.sec2-pos{
  margin-top: 15px;
}

.sec3-divbox {
  align-content: center;
position: relative;
bottom: 290px;
left:100px;
width: 45%;
background-color: #f3f3f3;
padding-top: 15px;
transition: 0.8s;
}
.sec3-text {
  padding-top:10px;
margin-left: 27px;
font-family: comic;
font-size: 24px;
height: 10px;
b ackground-color: red;
color:#FF1956;
font-weight: 900;

}
.sec3-dis {
  b ackground-color: green;
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color:black;
font-weight:600;
text-transform: uppercase;
letter-spacing: 1px;
font-size:16px;
}
/*Section 4 Kohlrabi*/

.sec4box {
  position:relative;
  bottom: 60px;
text-align: center;
background-color:white;
width: 140px;
}

.sec4-text {
  font-family: comic;
  font-size: 24px;
  color:#FF45E4;
  font-weight: 900;
}

.sec4-dis {
  padding-top: 2px;
  text-align: center;
  color:black;
font-weight:600;
text-transform: uppercase;
letter-spacing: 1px;
font-size:16px;
}

/*Section 5 Mix*/
.sec5-box {
}
